<div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="driver-content vehicle-content theme-yellow">
                            <div class="driver-thumb vehicle-thumbnail">
                                <a href="#">
                                    <img src="/images/joiner.jpg" alt="car-item" />
                                </a>
                            </div><!-- /.vehicle-thumbnail -->
                            <div class="vehicle-bottom-content">
                                <h2 class="driver-name vehicle-title"><a href="ride-sharing.html">I want to Join a Ride</a></h2>

                            </div><!-- /.vehicle-bottom-content -->
                        </div><!-- /.car-content -->
                    </div><!-- /.item -->
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="driver-content vehicle-content theme-yellow">
                            <div class="driver-thumb vehicle-thumbnail">
                                <a href="#">
                                    <img src="/images/driver.jpg" alt="car-item" />
                                </a>
                            </div><!-- /.vehicle-thumbnail -->
                            <div class="vehicle-bottom-content">
                                <h2 class="driver-name vehicle-title"><a href="#">I'm a Driver, I want to share a ride</a></h2>

                            </div><!-- /.vehicle-bottom-content -->
                        </div><!-- /.car-content -->
                    </div><!-- /.item -->
                </div>
            </div>